<section>
  <md-subheader>
    <span class="md-subhead">My Devices</span>
    <md-button class="md-fab md-fab-top-right md-mini md-accent" aria-label="add">
      <md-icon data-ui-sref="devices.create" class="material-icons">add</md-icon>
    </md-button>
  </md-subheader>
  <!-- <div layout-padding> -->
    <div data-ng-repeat="device in vm.devices">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-header>
          <md-card-header-text layout="row" layout-align="space-between center">
            <span class="md-subhead">{{device._name}}</span>
            <span layout="row" layout-align="start center">
              <span class="md-subhead">{{data.cb1}}</span>
            </span>
          </md-card-header-text>
        </md-card-header>

        <md-card-actions layout="row" layout-align="space-between center">
         <md-slider flex class="md-primary" ng-if="device._devid==='wind'" md-discrete ng-model="rating2" step="1" min="0" max="5" aria-label="rating">
         </md-slider>
         <md-switch class="md-primary" ng-if="device._devid!=='wind'" ng-model="data.cb1" aria-label="Switch 1" ng-true-value="'ON'" ng-false-value="'OFF'">
         </md-switch>
         <md-button md-no-ink class="md-icon-button" aria-label="visibility">
           <md-icon data-ui-sref="devices.view({ deviceId: device._id })" class="material-icons">visibility</md-icon>
         </md-button>
       </md-card-actions>

        <!-- <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{device._name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 2</md-button>
        </md-card-actions> -->
      </md-card>
    </div>

    <!-- <div class="list-group">
      <a data-ng-repeat="device in vm.devices"
         data-ui-sref="devices.view({ deviceId: device._id })"
         class="list-group-item">
        <small class="list-group-item-text">
          Posted on
          <span data-ng-bind="device.created | date:'mediumDate'"></span>
          by
          <span data-ng-if="device.user" data-ng-bind="device.user.displayName"></span>
          <span data-ng-if="!device.user">Deleted User</span>
        </small>
        <h4 class="list-group-item-heading" data-ng-bind="device.name"></h4>
      </a>
    </div> -->

    <div class="alert alert-warning text-center" data-ng-if="vm.devices.$resolved && !vm.devices.length">
      No Devices yet
    </div>
  <!-- </div> -->
</section>
