<section>
  <md-subheader>
    <span class="md-subhead">View Device Info</span>
  </md-subheader>
  <div layout="column"  layout-padding>
    <div ng-cloak class="md-inline-form">
      <md-input-container class="md-block">
        <label>Name</label>
        <input ng-model="vm.device.name" disabled>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Description</label>
        <input ng-model="vm.device.name" disabled>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Type</label>
        <input ng-model="vm.device.name" disabled>
      </md-input-container>
      <md-input-container class="md-block">
        <label>State</label>
        <input ng-model="vm.device.name" disabled>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Status</label>
        <input ng-model="vm.device.name" disabled>
      </md-input-container>
      <i layout="row" layout-align="center center" class="md-caption text-center">
        Created on
        &nbsp;
        <span data-ng-bind="vm.device.created | date:'mediumDate'"> </span>
      </i>
      <br/>
      <div layout="row" layout-align="space-around center">
        <md-button md-no-ink class="md-icon-button" aria-label="edit">
          <md-icon data-ui-sref="devices.edit({ deviceId: vm.device._id })" class="material-icons">edit</md-icon>
        </md-button>
        <md-button md-no-ink class="md-icon-button" aria-label="delete">
          <md-icon data-ng-click="vm.remove()" class="material-icons">delete</md-icon>
        </md-button>
      </div>
    </div>
  </div>
</section>
