<div ng-controller="HeaderController as vm">
  <!-- My modified version of the header -->
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <md-button ng-click="toggleLeft()" ng-hide="isOpenLeft()" aria-label="Google.com" class="md-icon-button md-primary">
      <md-icon md-svg-icon="modules/core/client/img/icons_req/ic_menu_white_24px.svg"></md-icon>
    </md-button>
    <span>
      <i class="material-icons" style="color: rgb(0, 255, 0)">check_circle</i>
    </span>
  </div>
</div>
