<div ng-controller="HeaderController as head">
  <!-- Side Menu -->
  <div layout-fill ng-show="head.authentication.user">
    <div class="md-whiteframe-1dp" layout="column" layout-padding>
      <div>
        <img ng-src="{{head.authentication.user.profileImageURL}}" class="md-avatar" alt="{{vm.authentication.user.displayName}}" class="md-user-avatar"/>
      </div>
      <span class="md-title" ng-bind="head.authentication.user.displayName">Kinderley Charles</span>
    </div>
    <md-divider></md-divider>
    <md-content>
      <md-list>
        <md-list-item ng-repeat="item in head.accountMenu.items">
          <a layout="row" ui-sref="{{item.state}}">
            <md-icon md-svg-icon="{{phone.options.icon}}" ng-if="phone.options.icon" ng-class="{'md-avatar-icon': phone.options.avatarIcon}"></md-icon>
            <img ng-src="{{head.authentication.user.profileImageURL}}" class="md-avatar" alt="{{phone.options.face}}"
                 ng-if="true"/>
            <h4 layout="row" layout-align="center center" ng-class="md-offset" ng-bind="item.title"></h4>
          </a>
          <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon" aria-label="call">
            <md-icon md-svg-icon="{{phone.options.actionIcon}}"></md-icon>
          </md-button>
        </md-list-item>
        <md-divider layout-fill></md-divider>
        <md-list-item>
          <a href="/api/auth/signout" target="_self">
            <md-button class="md-raised md-primary" layout-fill>Logout</md-button>
          </a>
        </md-list-item>
      </md-list>


    </md-content>
  </div>
</div>
